src/main/mule/mobile-customer-api.xml
<?xml version="1.0" encoding="UTF-8"?>
<mule xmlns:customer-apispec="http://www.mulesoft.org/schema/mule/customer-apispec"
	xmlns:tracking="http://www.mulesoft.org/schema/mule/ee/tracking" xmlns:validation="http://www.mulesoft.org/schema/mule/validation" xmlns:os="http://www.mulesoft.org/schema/mule/os" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:api-gateway="http://www.mulesoft.org/schema/mule/api-gateway" xmlns:apikit="http://www.mulesoft.org/schema/mule/mule-apikit" xmlns:customer360api="http://www.mulesoft.org/schema/mule/customer360api" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns:order-apispec="http://www.mulesoft.org/schema/mule/order-apispec" xmlns:order-fulfillment-api="http://www.mulesoft.org/schema/mule/order-fulfillment-api" xmlns:product-api="http://www.mulesoft.org/schema/mule/product-api" xmlns:tls="http://www.mulesoft.org/schema/mule/tls" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd http://www.mulesoft.org/schema/mule/mule-apikit http://www.mulesoft.org/schema/mule/mule-apikit/current/mule-apikit.xsd  http://www.mulesoft.org/schema/mule/order-apispec http://www.mulesoft.org/schema/mule/order-apispec/current/mule-order-apispec.xsd http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd http://www.mulesoft.org/schema/mule/product-api http://www.mulesoft.org/schema/mule/product-api/current/mule-product-api.xsd http://www.mulesoft.org/schema/mule/customer360api http://www.mulesoft.org/schema/mule/customer360api/current/mule-customer360api.xsd http://www.mulesoft.org/schema/mule/order-fulfillment-api http://www.mulesoft.org/schema/mule/order-fulfillment-api/current/mule-order-fulfillment-api.xsd http://www.mulesoft.org/schema/mule/api-gateway http://www.mulesoft.org/schema/mule/api-gateway/current/mule-api-gateway.xsd
http://www.mulesoft.org/schema/mule/os http://www.mulesoft.org/schema/mule/os/current/mule-os.xsd
http://www.mulesoft.org/schema/mule/validation http://www.mulesoft.org/schema/mule/validation/current/mule-validation.xsd
http://www.mulesoft.org/schema/mule/customer-apispec http://www.mulesoft.org/schema/mule/customer-apispec/current/mule-customer-apispec.xsd">
	<flow name="mobile-customer-api-main">
        <http:listener config-ref="mobile-customer-api-httpListenerConfig" path="/api/*">
            <http:response statusCode="#[vars.httpStatus default 200]">
                <http:headers>#[vars.outboundHeaders default {}]</http:headers>
            </http:response>
            <http:error-response statusCode="#[vars.httpStatus default 500]">
                <http:body>#[payload]</http:body>
                <http:headers>#[vars.outboundHeaders default {}]</http:headers>
            </http:error-response>
        </http:listener>
        <apikit:router config-ref="mobile-customer-api-config" />
        <error-handler>
            <on-error-propagate type="APIKIT:BAD_REQUEST">
                <ee:transform xsi:schemaLocation="http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Bad request"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">400</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
            <on-error-propagate type="APIKIT:NOT_FOUND">
                <ee:transform xsi:schemaLocation="http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Resource not found"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">404</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
            <on-error-propagate type="APIKIT:METHOD_NOT_ALLOWED">
                <ee:transform xsi:schemaLocation="http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Method not allowed"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">405</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
            <on-error-propagate type="APIKIT:NOT_ACCEPTABLE">
                <ee:transform xsi:schemaLocation="http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Not acceptable"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">406</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
            <on-error-propagate type="APIKIT:UNSUPPORTED_MEDIA_TYPE">
                <ee:transform xsi:schemaLocation="http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Unsupported media type"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">415</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
            <on-error-propagate type="APIKIT:NOT_IMPLEMENTED">
                <ee:transform xsi:schemaLocation="http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Not Implemented"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">501</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
        </error-handler>
    </flow>
    <flow name="mobile-customer-api-console">
        <http:listener config-ref="mobile-customer-api-httpListenerConfig" path="/console/*">
            <http:response statusCode="#[vars.httpStatus default 200]">
                <http:headers>#[vars.outboundHeaders default {}]</http:headers>
            </http:response>
            <http:error-response statusCode="#[vars.httpStatus default 500]">
                <http:body>#[payload]</http:body>
                <http:headers>#[vars.outboundHeaders default {}]</http:headers>
            </http:error-response>
        </http:listener>
        <apikit:console config-ref="mobile-customer-api-config" />
        <error-handler>
            <on-error-propagate type="APIKIT:NOT_FOUND">
                <ee:transform xsi:schemaLocation="http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Resource not found"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">404</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
        </error-handler>
    </flow>
    <flow name="get:\orders\order\(order_id):mobile-customer-api-config">
        <order-fulfillment-api:get-order-by-id doc:name="Get order by id" doc:id="b9e3283a-aa51-4c88-9035-901777991cc5" config-ref="Order_Fulfillment_API_Config" id="#[attributes.uriParams.order_id]"/>
        <ee:transform doc:name="Transform Message" doc:id="c8c5de7b-9a51-4544-9dc7-d40d71798535">
            <ee:message>
                <ee:set-payload><![CDATA[%dw 2.0
output application/json
var price = ( payload.price as Number ) default 100
---
{
	cost: {
		final_price: ((price * p('tax_value') as Number) + price ),
		price: price,
		tax: price * ( p('tax_value') as Number )
	},
	shipping: {
		shipping_address_id: payload.billingAddress.addressId default ""
	},
	creation_date: payload.orderDateTime default "",
	order_id: payload.orderId,
	tracking_code: payload.trackingNumber default "",
	items: payload.orderItems map ( orderItem , indexOfOrderItem ) -> {
		product: {
			name: orderItem.product.name,
			id: orderItem.product.id
		},
		quantity: orderItem.quantity.ordered default 0,
		product_id: orderItem.product.id default ""
	}
}]]></ee:set-payload>
            </ee:message>
        </ee:transform>
    </flow>
    <flow name="get:\products\product\(product_id):mobile-customer-api-config">
        <product-api:get doc:name="Get" doc:id="9ea7e802-8db0-4035-92af-9db1532a96c8" config-ref="Product_API_Config" target="currentProduct" id="#[attributes.uriParams.product_id]" />
        <ee:transform doc:name="Transform Message" doc:id="caea28ec-10aa-4060-9df3-6e2c73864fd8">
            <ee:message>
                <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
	id: vars.currentProduct.id,
	name: vars.currentProduct.name,
	full_description: vars.currentProduct.description,
	pictures: vars.currentProduct.characteristics.images map ($.href),
	unit_original_price: vars.currentProduct.pricing.costOfGoodsSold default 0,
	unit_price: vars.currentProduct.pricing.listPrice,
	available_stock: 10
}]]></ee:set-payload>
            </ee:message>
        </ee:transform>
    </flow>
    <flow name="get:\products\search:mobile-customer-api-config">
        <product-api:get-products doc:name="Get products" doc:id="c86d0af8-d14c-4eb5-8faa-61ba26833c83" config-ref="Product_API_Config" product-name="#[attributes.queryParams.name]" />
        <ee:transform doc:name="Transform Message" doc:id="202f69ce-7f43-4488-9901-53555eaacbb2">
            <ee:message>
                <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
payload.products map (
	{
		id: $.id,
		name: $.name,
		full_description: $.description,
		unit_price: $.pricing.listPrice,
		unit_original_price: $.pricing.costOfGoodsSold,
		pictures: $.characteristics.images map ($.href),
		available_stock: 10
	}
)]]></ee:set-payload>
            </ee:message>
        </ee:transform>
    </flow>
    <flow name="get:\orders\search:mobile-customer-api-config">
        <customer360api:get-customer360-by-id doc:name="Get customer 360 by id" doc:id="8c28fa1b-cc46-4b5a-a584-f89932dd9c44" id="#[attributes.queryParams.user_id]" config-ref="Customer_360_API_Config"/>
        <ee:transform doc:name="Transform Message" doc:id="e5bcfd95-6ab5-4bdd-97ba-a3cd80dd68c7">
            <ee:message>
                <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
payload.orders map ( order , indexOfOrder ) -> {
	cost: {
		final_price: ((order.price as Number) * p('tax_value') as Number) + order.price as Number default 0,
		price: (order.price  as Number) default 0,
		tax: (order.price  as Number) * p('tax_value') as Number default 0
	},
	shipping: {
		shipping_address_id: order.billingAddress.addressId default ""
	},
	creation_date: order.orderDateTime default "",
	order_id: order.orderId,
	tracking_code: order.trackingNumber default "",
	items: order.orderItems map ( orderItem , indexOfOrderItem ) -> {
		product: {
			name: orderItem.product.name,
			id: orderItem.product.id
		},
		quantity: orderItem.quantity.ordered default 0,
		product_id: orderItem.product.id default ""
	}
}]]></ee:set-payload>
            </ee:message>
        </ee:transform>
    </flow>
    <flow name="put:\user\(userId):application\json:mobile-customer-api-config">
        <ee:transform xsi:schemaLocation="http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd" doc:id="e9e293af-182e-4355-8108-ebd196c9b6d9">
            <ee:message>
                <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
  code: "500",
  message: "Method not implemented yet"
}]]></ee:set-payload>
            </ee:message>
        </ee:transform>
        <set-variable value="#[500]" doc:name="Set Variable" doc:id="96f3cfa8-cc4c-46b9-940e-078a9b5aa575" variableName="httpStatus" />
    </flow>
    <flow name="get:\user\(userId):mobile-customer-api-config">
        <customer360api:get-customer360-by-id doc:name="Get customer 360 by id" doc:id="666ac9ef-a9d7-4bc5-9619-38f41da3c559" id="#[attributes.uriParams.userId]" config-ref="Customer_360_API_Config"/>
		<ee:transform xsi:schemaLocation="http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd" doc:id="510bf9a2-7074-4637-99f6-fbf3d4959558">
            <ee:message>
                <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
	id: payload.id,
	username: payload.email[0].address,
	email: payload.email[0].address,
	firstname: (payload.name splitBy " ")[0],
	lastname: (payload.name splitBy " ")[1],
	password: "123456",
	last_login: now() - |P1M|,
	mobile_number: payload.phone[0].phoneNumber
}]]></ee:set-payload>
            </ee:message>
        </ee:transform>
    </flow>
    <flow name="post:\session:application\json:mobile-customer-api-config">
        <logger level="WARN" doc:name="Logger" doc:id="4943c5d2-603e-47c9-b26b-b7e5469c8724" message="#['Method not fully implemented yet']" />
        <customer-apispec:get-customers doc:name="Get customers" doc:id="3bf7f104-b86b-4cd9-9fac-0483dc1e2aa7" customer-name="#[payload.username]" config-ref="Customer_API_Spec_Config"/>
		<choice doc:name="Choice" doc:id="092b86b3-1c53-4e9d-b934-a17727cbaa98">
            <when expression="#[sizeOf(payload.customers) &gt; 0]">
                <ee:transform xsi:schemaLocation="http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd" doc:id="e396d24c-3b24-457b-ac1b-ac0a9433cfaa" doc:name="Successful Login">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
var customer = payload.customers[0]
---
{
	id: customer.accountId,
	username: customer.email[0].address,
	email: customer.email[0].address,
	firstname: (customer.name splitBy ' ')[0],
	lastname: (customer.name splitBy ' ')[1],
	password: customer.email[0].address,
	mobile_number: customer.phone[0].phoneNumber,
	last_login: now() - |P1M|
}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus"><![CDATA[%dw 2.0
output application/java
---
201]]></ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </when>
            <otherwise>
                <ee:transform doc:name="Login Failed" doc:id="835a9bcc-2f5b-4541-879f-03a2e786d24f">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
	code: '404',
	message: 'resource not found'
}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus"><![CDATA[%dw 2.0
output application/java
---
404]]></ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </otherwise>
        </choice>
    </flow>
    <flow name="post:\user:application\json:mobile-customer-api-config">
        <ee:transform doc:name="Transform Message" doc:id="421ff579-c16b-42c9-af42-32ef2640c27d">
            <ee:message>
                <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
[{
	phone: [{
		phoneNumber: payload.mobile_number,
		doNotCall: false,
		"type": 'Work',
		doNotText: false,
		preferred: true
	}],
	name: payload.firstname ++ " " ++ payload.lastname,
	email: [{
		address: payload.email,
		doNotEmail: false,
		"type": 'Personal',
		preferred: true
	}]
}]]]></ee:set-payload>
            </ee:message>
			<ee:variables >
				<ee:set-variable variableName="originalRequest" ><![CDATA[%dw 2.0
output application/java
---
payload]]></ee:set-variable>
			</ee:variables>
        </ee:transform>
        <customer-apispec:post-customers doc:name="Post customers" doc:id="c7044930-e4f0-4a77-8d50-e09543f8ccf7" config-ref="Customer_API_Spec_Config"/>
		<ee:transform xsi:schemaLocation=" http://www.mulesoft.org/schema/mule/tls http://www.mulesoft.org/schema/mule/tls/current/mule-tls.xsd  http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd" doc:id="ec50ddf9-5443-4a20-b2e9-81f8430fc4c3">
            <ee:message>
                <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
	firstname: vars.originalRequest.firstname,
	last_login: vars.originalRequest.last_login,
	id: payload.messages[0].itemId,
	mobile_number: vars.originalRequest.mobile_number,
	email: vars.originalRequest.email,
	username: vars.originalRequest.username,
	lastname: vars.originalRequest.lastname
}]]></ee:set-payload>
            </ee:message>
        </ee:transform>
    </flow>
    <flow name="put:\user\(userId)\shopping_cart:application\json:mobile-customer-api-config">
		<ee:transform doc:name="Transform Message" doc:id="14d27cda-e777-4ad0-9675-9831330cccbf" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/java
var orderPrice = lookup('calculate_price',((payload.items default []) map (item, index) -> {
		productId: item.product_id as String,
		quantity: item.quantity as String	 	
}) default "0") as Number 
---
{
	last_modifiacation_date: now(),
	cost: {
		price: orderPrice,
		tax: orderPrice * p('tax_value') as Number,
		final_price: orderPrice * p('tax_value')  as Number + orderPrice
	},
	items: payload.items map (item , indexOfItem) -> {
		product_id: item.product_id,
		quantity: item.quantity
	}
}]]></ee:set-payload>
			</ee:message>
			<ee:variables >
				<ee:set-variable variableName="user_id" ><![CDATA[%dw 2.0
output application/java
---
attributes.uriParams.userId]]></ee:set-variable>
			</ee:variables>
		</ee:transform>
		<logger level="INFO" doc:name="Logger" doc:id="42cfd42b-628a-4661-a90e-1f5f13c885c7" message="#[payload]"/>
		<os:store key="#[vars.user_id]" doc:name="Update User Shopping Cart">
		</os:store>
        <logger message='Object Store result: + #[payload]' level="INFO" doc:name="Log ObjectStore Update result"/>
        
    </flow>
	<flow name="get:\user\(userId)\shopping_cart:mobile-customer-api-config">
		<os:contains key="#[attributes.uriParams.userId]" doc:name="Check Shopping Cart existence" target="userHasCart"/>
        <validation:is-true doc:name="Is true" doc:id="e9f81c61-f6c9-4c7b-9c2f-6c6d8a92220d" expression="#[vars.userHasCart == true]"/>
		<logger message='"Cart Exists"' level="INFO" doc:name="Cart" />
		<os:retrieve key="#[attributes.uriParams.userId]" doc:name="Get Shopping Cart"/>
		<ee:transform doc:name="Cart to JSON" doc:id="26d277fb-7679-4251-bdc3-1c5bf1da4b04">
			<ee:message>
				<ee:set-payload><![CDATA[%dw 2.0
output application/json
---
payload]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<error-handler >
			<on-error-continue enableNotifications="true" logException="false" doc:name="On Error Continue" doc:id="8cb4a948-05b0-4aa9-b844-6eeab720aaaa" type="VALIDATION:INVALID_BOOLEAN">
				<logger message='"No Cart"' level="INFO" doc:name="No Cart" />
				<ee:transform doc:id="6bbcfeef-cd8e-4b96-a2ed-45c84b19c295" doc:name="Cart to JSON">
                	<ee:message>
		                <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
	items: [],
	cost: {
		price: 0.0,
		tax: 0.0,
		final_price: 0.0
	},
	last_modification_date: ""
}]]></ee:set-payload>
                	</ee:message>
                </ee:transform>
			</on-error-continue>
		</error-handler>
    </flow>
    <flow name="post:\user\(userId)\shopping_cart\confirmation:application\json:mobile-customer-api-config">
        <ee:transform xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xsi:schemaLocation="
http://www.mulesoft.org/schema/mule/ee/tracking http://www.mulesoft.org/schema/mule/ee/tracking/current/mule-tracking-ee.xsd http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd" doc:id="de85d1bb-00d5-4f42-a7fb-e23bb46df547" doc:name="Create Order Request">
            <ee:message>
                <ee:set-payload><![CDATA[%dw 2.0
output application/json
var orderPrice = lookup('calculate_price',(payload.items default []) map (item, indexOfItem) -> {
	productId: item.product_id as String,
	quantity: item.quantity as String
}) as Number
---
[{
	customerId: attributes.uriParams.userId,
	status: "Draft",
	totalAmount: orderPrice,
	orderDateTime: now(),
	orderItems: (payload.items as Array default []) map (item, indexOfItem) -> {
		product: {
			id: item.product_id,
			name: "mocked value"
		},
		quantity: {
			ordered: item.quantity default 1
		},
		orderLine: indexOfItem,
		location: {
		},
		pricing: {
			totalAmount: item.product.unit_price default 0,
			itemAmount: item.product.unit_price default 0,
			discountPct: 0
		}
	},
	trackingNumber: uuid()
}]]]></ee:set-payload>
            </ee:message>
			<ee:variables >
				<ee:set-variable variableName="user_id" ><![CDATA[%dw 2.0
output application/java
---
attributes.uriParams.userId]]></ee:set-variable>
			</ee:variables>
        </ee:transform>
        
        <order-fulfillment-api:post-orders doc:name="Post orders" doc:id="edf56cd4-671e-4a71-87d2-cc76fd048d9d" config-ref="Order_Fulfillment_API_Config"/>
		<!-- <order-api:get-order-by-id id="#[payload.order_id]" client-id="${app.client_id}"   client-secret="${app.client_secret}" config-ref="Order_API_Config" doc:name="Get Order Detail" />         -->
        
        <order-fulfillment-api:get-order-by-id doc:name="Get order by id" doc:id="2270f62f-2591-4a2e-9350-a8979b22d35b" config-ref="Order_Fulfillment_API_Config" id="#[payload.messages[0].itemId]"/>
		<ee:transform xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xsi:schemaLocation="
http://www.mulesoft.org/schema/mule/ee/tracking http://www.mulesoft.org/schema/mule/ee/tracking/current/mule-tracking-ee.xsd http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd" doc:id="66b08e5e-636f-4bc7-a235-8e736c2eb3a5" doc:name="Create Order Response">
            <ee:message>
                <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
	items: payload.orderItems map (orderItem , indexOfOrderItem) -> {
		product_id: orderItem.product.id,
		quantity: orderItem.quantity.ordered as Number,
		product: {
			id: orderItem.product.id,
			name: orderItem.product.name
		}
	},
	order_id: payload.orderId,
	order_number: payload.orderId,
	tracking_code: payload.trackingNumber
}]]></ee:set-payload>
            </ee:message>
        </ee:transform>
        <async doc:name="Async">
        		<os:remove key="#[vars.user_id]" doc:name="Remove"/>
      	</async>
    </flow>
    <flow name="calculate_price">
        <set-variable variableName="price" value="#[0]" doc:name="Store Price"/>
        <foreach doc:name="For Each Product in Order">
<!-- 			<ee:cache doc:name="Cache" doc:id="361f377c-a1ad-4348-b6f3-d6b747522179" cachingStrategy-ref="Caching_Strategy"> -->
				<set-variable value="#[payload.quantity]" doc:name="Set Variable" doc:id="7da03dcf-d034-4ce7-9b75-68b9f5490a86" variableName="quantity"/>
			<product-api:get doc:name="Get" doc:id="d0798183-123d-447a-a995-7c0f586cf8da" id="#[payload.productId]" config-ref="Product_API_Config"/>
<!-- 			</ee:cache> -->
			<ee:transform doc:name="Add Price to Total Price" doc:id="0d8f2b11-f904-4c54-bd8e-0615885a3b9f" >
				<ee:message />
				<ee:variables >
					<ee:set-variable variableName="price" ><![CDATA[%dw 2.0
output application/java
---
(payload.pricing.listPrice default 0) * (vars.quantity default 0) + vars.price]]></ee:set-variable>
				</ee:variables>
			</ee:transform>
        </foreach>
        <set-payload value="#[vars.price]" doc:name="Set Total Price as Payload"/>
    </flow>
</mule>
